# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
pip-log.txt
pip-delete-this-directory.txt
.venv/
venv/
env/

# Environments
.env

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db

# Node.js
node_modules/
# /static/css/dist/
