{% load static %}
<div id="card-{{ card.pk }}" class="card w-full bg-base-100 shadow-xl transition-transform transform hover:-translate-y-1 relative">
    <div class="absolute top-3 right-3 z-10 flex flex-col gap-1"> {# ボタンをカードの右上に配置するためのdiv #}
        <div class="flex gap-1">
            {% if card.category.slug == 'pokemon' %}
            <button
                class="btn btn-neutral btn-xs"
                hx-get="{% url 'cards:related_cards_modal' card.pk %}"
                hx-target="body"
                hx-swap="beforeend">
                関連サーチ
            </button>
            {% endif %}
            <button
                class="btn btn-ghost btn-xs"
                hx-get="{% url 'cards:card_edit' card.pk %}"
                hx-target="#dialog-target">
                編集
            </button>
            <button
                class="btn btn-ghost btn-xs text-error"
                hx-get="{% url 'cards:card_delete' card.pk %}"
                hx-target="#dialog-target">
                削除
            </button>
        </div>
    </div>
    <figure class="px-10 pt-10">
        <img src="{% if card.image %}{{ card.image.url }}{% else %}{% static 'images/nonepic.png' %}{% endif %}" alt="{{ card.name }}" class="rounded-xl h-48 w-full object-contain" />
    </figure>
    <div class="card-body items-center text-center">
        <h2 class="card-title">{{ card.name }}</h2>

        <div class="card-actions justify-center items-center my-2 w-full">
            <span class="mr-2">枚数:</span>
            <span class="font-bold text-lg">{{ card.quantity }}</span>
            <div class="btn-group ml-4">
            <button
                class="btn btn-secondary btn-sm"
                hx-post="{% url 'cards:decrease_card_quantity' card.pk %}"
                hx-target="#card-{{ card.pk }}"
                hx-swap="outerHTML"
            >-</button>
            <button
                class="btn btn-primary btn-sm"
                hx-post="{% url 'cards:increase_card_quantity' card.pk %}"
                hx-target="#card-{{ card.pk }}"
                hx-swap="outerHTML"
            >+</button>
            </div>
        </div>
        
        <div class="flex flex-wrap justify-center gap-1 my-2 min-h-[18px]">
            {% if card.category.slug == 'pokemon' %}
                {% for type in card.types.all %}
                    <span class="badge" style="background-color: {{ type.bg_color }}; color: {{ type.text_color }};">
                        {{ type.name }}
                    </span>
                {% endfor %}
                {% if card.evolution_stage %}
                <span class="badge badge-neutral badge-outline">{{ card.evolution_stage.name }}</span>
                {% endif %}
                {% for move_type in card.move_types.all %}
                    <span class="badge badge-outline" style="border-color: {{ move_type.bg_color }}; color: {{ move_type.text_color }};">
                        {{ move_type.name }}
                    </span>
                {% endfor %}
                {% for feature in card.special_features.all %}
                    <span class="badge badge-neutral badge-dashed">{{ feature.name }}</span>
                {% endfor %}
            {% elif card.category.slug == 'trainers' %}
                {% if card.trainer_type %}
                    <span class="badge" style="background-color: {{ card.trainer_type.bg_color }}; color: {{ card.trainer_type.text_color }}; border-color: {{ card.trainer_type.text_color }};">
                        {{ card.trainer_type.name }}
                    </span>
                {% endif %}
                {% for st in card.special_trainers.all %}
                    <span class="badge" style="background-color: {{ st.bg_color }}; color: {{ st.text_color }};">
                        {{ st.name }}
                    </span>
                {% endfor %}
            {% endif %}
        </div>

        {% if card.hp %}
        <div class="font-bold text-sm leading-tight">
            HP: {{ card.hp }}
        </div>
        {% endif %}

        <div class="collapse collapse-arrow bg-base-200 mt-1">
            <input type="checkbox" /> 
            <div class="collapse-title text-sm font-medium">
                詳細情報
            </div>
            <div class="collapse-content text-left"> 
                <ul class="list-disc list-inside text-sm">
                    {% if card.category.slug == 'pokemon' %}

                        {% if card.evolves_from %}
                            <li>進化元: {{ card.evolves_from }}</li>
                        {% endif %}

                        {% if card.weakness.all %}
                            <li>弱点:
                                {% for type in card.weakness.all %}
                                    <span class="badge badge-outline badge-sm" style="border-color: {{ type.bg_color }}; color: {{ type.bg_color }};">{{ type.name }}</span>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if card.resistance.all %}
                            <li>抵抗力:
                                {% for type in card.resistance.all %}
                                    <span class="badge badge-outline badge-sm" style="border-color: {{ type.bg_color }}; color: {{ type.bg_color }};">{{ type.name }}</span>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if card.retreat_cost != None %}
                            <li>にげるエネルギー: {{ card.retreat_cost }}</li>
                        {% endif %}
                    {% endif %}
                    {% if card.memo %}
                        <li>メモ: {{ card.memo|linebreaksbr }}</li>
                    {% endif %}
                    <li>登録日時: {{ card.created_at|date:"Y/m/d H:i" }}</li>
                    <li>更新日時: {{ card.updated_at|date:"Y/m/d H:i" }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
