{% load widget_tweaks %}

<div class="grid grid-cols-1 gap-2 mb-2">
    <div class="form-control">
        {{ filter.form.name|add_class:"input-md input-bordered border-secondary w-full text-sm"|attr:"placeholder:カード名" }}
    </div>
</div>

<div class="flex flex-col gap-3">
    {# Types Filter #}
    <div class="collapse collapse-plus bg-base-100 border-secondary border collapse-compact">
        <input type="checkbox" />
        <div class="collapse-title text-sm">
            {{ filter.form.types.label }}
        </div>
        <div class="collapse-content">
            <div class="grid grid-cols-[repeat(auto-fit,minmax(120px,1fr))] gap-x-4 gap-y-2 p-2">
            {% for choice in filter.form.types %}
                <label class="label cursor-pointer justify-start gap-3">
                    <input type="checkbox" class="checkbox checkbox-neutral" name="{{ choice.data.name }}" value="{{ choice.data.value }}" {% if choice.is_checked %}checked{% endif %} id="{{ choice.id_for_label }}" class="checkbox">
                    <span class="label-text text-sm">{{ choice.choice_label }}</span>
                </label>
            {% endfor %}
            </div>
        </div>
    </div>

    {# Evolution Stage Filter #}
    <div class="collapse collapse-plus bg-base-100 border-secondary border collapse-compact">
        <input type="checkbox" />
        <div class="collapse-title font-medium text-sm">
            {{ filter.form.evolution_stage.label }}
        </div>
        <div class="collapse-content">
            <div class="grid grid-cols-[repeat(auto-fit,minmax(140px,1fr))] gap-x-4 gap-y-2 p-2">
            {% for choice in filter.form.evolution_stage %}
                <label class="label cursor-pointer justify-start gap-3">
                    <input type="checkbox" name="{{ choice.data.name }}" value="{{ choice.data.value }}" {% if choice.is_checked %}checked{% endif %} id="{{ choice.id_for_label }}" class="checkbox">
                    <span class="label-text">{{ choice.choice_label }}</span>
                </label>
            {% endfor %}
            </div>
        </div>
    </div>

    {# Special Features Filter #}
    <div class="collapse collapse-plus bg-base-100 border-secondary border collapse-compact">
        <input type="checkbox" />
        <div class="collapse-title font-medium text-sm">
                {{ filter.form.special_features.label }}
            </div>
            <div class="collapse-content">
                <div class="grid grid-cols-[repeat(auto-fit,minmax(180px,1fr))] gap-x-4 gap-y-2 p-2">
                {% for choice in filter.form.special_features %}
                    <label class="label cursor-pointer justify-start gap-3">
                        <input type="checkbox" name="{{ choice.data.name }}" value="{{ choice.data.value }}" {% if choice.is_checked %}checked{% endif %} id="{{ choice.id_for_label }}" class="checkbox">
                        <span class="label-text">{{ choice.choice_label }}</span>
                    </label>
                {% endfor %}
                </div>
            </div>    </div>

    {# Move Types Filter #}
    <div class="collapse collapse-plus bg-base-100 border-secondary border collapse-compact">
        <input type="checkbox" />
        <div class="collapse-title font-medium text-sm">
            {{ filter.form.move_types.label }}
        </div>
        <div class="collapse-content">
            <div class="grid grid-cols-[repeat(auto-fit,minmax(120px,1fr))] gap-x-4 gap-y-2 p-2">
            {% for choice in filter.form.move_types %}
                <label class="label cursor-pointer justify-start gap-3">
                    <input type="checkbox" name="{{ choice.data.name }}" value="{{ choice.data.value }}" {% if choice.is_checked %}checked{% endif %} id="{{ choice.id_for_label }}" class="checkbox">
                    <span class="label-text">{{ choice.choice_label }}</span>
                </label>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="mt-4 flex justify-end items-center gap-2">
    <div class="form-control w-1/2 sm:w-1/4 md:w-1/4">
        <select name="ordering" class="select select-bordered border-secondary select-sm w-full">
            <option disabled {% if not filter.form.ordering.value %}selected{% endif %}>並び替え</option>
            {% for value, label in filter.form.ordering.field.choices %}
                <option value="{{ value }}" {% if filter.form.ordering.value|first == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <a href="{% url 'cards:card_list' %}" class="btn btn-secondary btn-sm">リセット</a>
</div>
