<div class="overflow-x-auto">
    <table class="table table-zebra table-compact w-full">
        <thead>
            <tr>
                <th class="w-24 text-center">画像</th>
                <th class="w-44 text-center">カード名</th>
                <th class="w-32 text-center">トレーナーズ種別</th>
                <th class="w-24 text-center">特別な分類</th>
                <th class="w-20 text-center">枚数</th>
                <th class="w-20 text-center">詳細</th>
                <th class="w-32 text-center">操作</th>
            </tr>
        </thead>
        <tbody id="card-table-body">
            {% for card in cards %}
                {% include 'cards/_trainer_card_table_row.html' with card=card %}
            {% endfor %}
        </tbody>
    </table>
</div>
