{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ja" data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ポケモンカード管理</title>
    {% tailwind_css %}
</head>
<body>
    {# ヘッダー #}
    <div class="navbar bg-base-100">
        <a class="btn btn-ghost text-xl" href="/">ポケモンカード管理</a>
    </div>

    {# メインコンテンツ #}
    <main class="container mx-auto p-4">
        {% block content %}{% endblock %}
    </main>

    {# フッター #}
    <footer class="footer footer-center p-4 bg-base-300 text-base-content">
        <aside>
            <p>Copyright © {% now "Y" %} - All right reserved by PokeApp</p>
        </aside>
    </footer>

    {# htmxがモーダルコンポーネントを挿入するためのターゲット #}
    <div id="dialog-target"></div>

    {# htmx.jsの読み込み #}
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

    {# htmxリクエストにCSRFトークンを含めるためのスクリプト #}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        document.body.addEventListener('htmx:configRequest', (event) => {
            // 安全なメソッド (GET, HEAD, OPTIONS, TRACE) 以外の場合にCSRFトークンを追加
            if (!['GET', 'HEAD', 'OPTIONS', 'TRACE'].includes(event.detail.verb)) {
                event.detail.headers['X-CSRFToken'] = csrftoken;
            }
        });
    </script>

</body>
</html>
